<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>SUPABASE_URL</key>
    <string>https://mckefcljzijknlqxvszu.supabase.co</string>
    <key>SUPABASE_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1ja2VmY2xqemlqa25scXh2c3p1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDk2Njc3MDgsImV4cCI6MjA2NTI0MzcwOH0.saBMXU8bDEpeeEvmy1N0AIzyxCdde71YVD6a2VJyHc4</string>
</dict>
</plist>
